body {
     background-color: aliceblue;
     font-family: Arial;

}

.top img {
     width: 100%;

}

.main1 {
     /* border: 5px solid red; */
     display: flex;
     justify-content: space-evenly;
     /* margin: 50px; */
     padding: 10px;
     max-width: 1080px;
     margin: 0 auto;
     width: 100%;
}



.main1 .text1 {
     /* border: 5px solid#7EBBF2; */
     padding: 50px;
     
}

.main1 h2 a {
     /* border: 6px solid brown; */
     background-color: #7EBBF2;
     color:white;
     width: 40%;
     text-align: center;
     margin-bottom: 80px;
     padding: 10px;
     text-decoration: none;
     
}

.main1 p{
     /* border: 2px solid yellow; */
     line-height: 3;
     margin-top: 30px;
     
}

.main1 img {
     /* width: 350px; */
     width: 40%;
     /* border: 5px solid rgb(0, 255, 64); */
     
}

.main2 {
     /* border: 5px solid red; */
     display: flex;
     justify-content: space-evenly;
     /* margin: 50px; */
     padding: 10px;
     max-width: 1080px;
     margin: 0 auto;
     width: 100%;
     background-color: #FFF5EE;
}    

.main2 .text2 {
     /* border: 5px solid#7EBBF2; */
     padding: 50px;
}

.main2 h2 a{
     background-color: #7EBBF2;
     color: white;
     width: 40%;
     text-align: center;
     margin-bottom: 50px;
     padding: 10px;
     text-decoration: none;
}

.main2 p{
     /* border: 2px solid yellow; */
     line-height:3;
     margin-top: 30px;
}

.main2 img {
     width: 35%;
     /* border: 5px solid rgb(0, 255, 64); */
     
}

.main3 {
     display: flex;
     justify-content: center;
     /* margin: 50px; */
     padding: 20px;
     max-width: 1080px;
     margin: 0 auto;
}

.main3 .main3-left{
     width: 30%;
     margin-right: 1rem;
}

.main3 .main3-left img{
     width: 100%;
     
}
.main3 .main3-right{
     width: 30%;
}
.main3 .main3-right img{
     width: 100%;
}


.main4{
     /* border: 5px solid red; */
     display: flex;
     /* justify-content: space-between; */
     justify-content: center;
     /* margin: 50px; */
     padding: 10px;
     max-width: 1080px;
     margin: 0 auto;
     background-color: #FFF5EE;
}

.main4 .text3{
     /* border: 5px solid#7EBBF2; */
     padding: 50px;
} 

.main4 h2{
     font-weight: bold;
     color: black;
     width: 40%;
     text-align: left;
     margin-bottom: 20px;
     padding: 10px;
}

.main4 p{
     /* border: 2px solid yellow; */
     line-height: 1.8;
}


.main4 {
     width: 60%;
}

.main4 img{
     width:30%;
}