body {
    font-family: arial;
    

}
.all{
    background-color: #FFF5EE;
}

.top h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.main1 {
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    /* margin: 50px; */
    padding: 10px;
    max-width: 1080px;
    margin: 0 auto;
}

.img1 {
    width: 50%;
}

.main1 .img1 img {
    width: 60%;
    /* border: 3px solid rgb(0, 255, 64); */
    /* margin-right: 20px; */
}




.main1 h2 {

    margin-top: 30px;
    color: black;
    width: 60%;
    text-align: left;
    margin-bottom: 50px;
    padding: 10px;
    font-size: 2.5rem;
}

.main1 .text1 p {
    /* border: 2px solid yellow; */
    line-height: 3;
    margin-right: 40px;
}

.main2 {
    display: flex;
    justify-content: center;
    /* margin: 50px; */
    padding: 20px;
    max-width: 1080px;
    margin: 0 auto;
}

.main2 .main2-left {
    width: 30%;
    margin-right: 1rem;
    margin-top: 50px;
}

.main2 .main2-left img {
    width: 100%;
}

.main2 .main2-right {
    width: 30%;
}

.main2 .main2-right img {
    width: 100%;
}

.main3 p {
    margin: 0 auto;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5;
    /* text-align: center; */
}

.main4 {
    /* border: 5px solid red; */
    display: flex;
    justify-content: space-evenly;
    /* margin: 50px; */
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    background-color: #F5F5DC;
}

.con {
     width: 80%; 
    /* height: 100px; */
    background-image: url(../img/02about/4.jpg);
    background-size: contain;
    background-repeat: no-repeat; 
}



.main4 .test2 p {
    /* border: 2px solid blue; */
    line-height: 3;
    font-size: 1.5rem;
}

.map  {
    text-align: center;
    /* margin: 0 auto; */
    /* border: 1px solid red; */
}