body {
    background-color: white;
    font-family: arial;
}




.top h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}





.main1 ul {
    list-style: none;
    /* border: 5px solid rgb(20, 58, 183); */
    display: flex;
    justify-content: center;
    margin: 0 auto;
}




.main1 ul li img {
    /* display: flex;
    align-items: center; */

    /* max-width: 1080px; */
    /* margin: 0 auto; */
    width: 250px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 0;
    /* border: 1px solid red; */
    /* background-color: #DCDCDC; */

}





.main1 ul li h3 {
    text-align: center;
    padding-top: 3px;
    font-weight: bold;
    /* border: 1px solid red; */
}







.main1 ul li p {
    text-align: right;
    font-size: 1.5rem;
    padding-right: 35px;
    /* border: 1px solid red; */
}


.main2 ul {
    list-style: none;
    /* border: 5px solid rgb(20, 58, 183); */
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.main2 ul li img {
    /* display: flex;
    align-items: center; */

    /* max-width: 1080px; */
    /* margin: 0 auto; */
    width: 250px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 0;
    /* background-color: #DCDCDC; */
}

.main2 ul li h3 {
    text-align: center;
    padding-top: 3px;
    font-weight: bold;
    /* padding-bottom: 10px; */
}

.main2 ul li p {
    text-align: right;
    font-size: 1.5rem;
    padding-right: 35px;
}

.main3 ul {
    list-style: none;
    /* border: 5px solid rgb(20, 58, 183); */
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.main3 ul li img {
    /* display: flex;
    align-items: center; */

    /* max-width: 1080px; */
    /* margin: 0 auto; */
    width: 250px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 0;
    /* background-color: #DCDCDC; */
}

.main3 ul li h3 {
    text-align: center;
    padding-top: 3px;
    font-weight: bold;
    /* padding-bottom: 10px; */
}


.main3 ul li p {
    text-align: right;
    font-size: 1.5rem;
    padding-right: 35px;
}





.section1 img:hover {
    transform: scale(1.01);
    background-color: #dddddd;
}

.section1 img:hover {

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 15, .5);
}








.section2 img:hover {
    transform: scale(1.01);
    background-color: #dddddd;
}

.section2 img:hover {

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 15, .5);
}







.section3 img:hover {
    transform: scale(1.01);
    background-color: #dddddd;
}

.section3 img:hover {

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 15, .5);
}









.section4 img:hover {
    transform: scale(1.01);
    background-color: #dddddd;
}

.section4 img:hover {

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 15, .5);
}







.section5 img:hover {
    transform: scale(1.01);
    background-color: #dddddd;
}

.section5 img:hover {

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 15, .5);
}






.section6 img:hover {
    transform: scale(1.01);
    background-color: #dddddd;
}

.section6 img:hover {

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 15, .5);
}





.section7 img:hover {
    transform: scale(1.01);
    background-color: #dddddd;
}

.section7 img:hover {

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 15, .5);
}







.section8 img:hover {
    transform: scale(1.01);
    background-color: #dddddd;
}

.section8 img:hover {

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 15, .5);
}







.section9 img:hover {
    transform: scale(1.01);
    background-color: #dddddd;
}

.section9 img:hover {

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 15, .5);
}






























/* ------------------------------------------------------ */
/* 螢幕變成414px寬度後 */
@media screen and (max-width:414px) {
    body {
        /* background-color: red; */
    }


    /* .swiper-wrapper img{
         height: 300px;
    }


    nav img{
         width: 50px;
    } */



    .google {
        display: flex;
   }


   /* .menu-icon {
        display: block;
        background: #8b0f9f;
        padding: 5px;
        display: flex;
        color: #fff;
        font-family: 'Dosis';
        justify-content: center;
        align-items: center;
   } */
   .menu-icon{
        position: relative;
        z-index: 500;
   }
        
   .navbar {
        width: 100%;
        display: none;
   }

   .navbar>ul {
        flex-direction: column;
   }

   .navbar>ul>li {
        display: block;
        background-color: white;
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid black;
        flex: 1 1 0%;
        width: 100%;
   }

   /* 導覽列 */
   .navtop1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        /* height: 50%; */
        position: fixed;
        top: 57px;
        right: 0;
        /* z-index: 1000; */
        /* padding-top: px; */
        /* margin-top: 55px; */
        /* padding-top: 55px; */
        display: block;
        z-index: 2;
        /* z-index: 2;
        background-color: #fff;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.4s ease-in; */

   }

   /* 導覽列 */
   /* .navtop1 li {
        opacity: 0;
   } */



  







    .main1 ul {
        list-style: none;
        /* border: 5px solid rgb(20, 58, 183); */
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }





    .main1 ul li .section1 {
        display: flex;
        margin-top: 20px;

    }








    .main1 ul li .section1 img {
        width: 40%;
        padding: 0;
        padding-bottom: 10px;
    }



    .main1 ul li .section1 h3 {

        /* border: 1px solid red; */
        width: 30px;
        font-size: 20px;
        padding-top: 45px;
    }



    .main1 ul li .section1 p {
        /* border: 1px solid red; */
        text-align: left;
        padding: 20px;
        padding-top: 50px;
        line-height: 1.2;
    }




    /* -------------------------------------- */




    .main1 ul li .section2 {
        display: flex;
        margin-top: 20px;
        margin-top: 20px;
    }



    .main1 ul li .section2 img {
        width: 40%;
        padding: 0;
        padding-bottom: 10px;
    }



    .main1 ul li .section2 h3 {

        /* border: 1px solid red; */
        width: 30px;
        font-size: 20px;
        padding-top: 45px;
    }



    .main1 ul li .section2 p {
        /* border: 1px solid red; */
        text-align: left;
        padding: 20px;
        padding-top: 65px;
        line-height: 1.2;
    }



    /* ------------------------------------------ */


    .main1 ul li .section3 {
        display: flex;
        margin-top: 20px;

    }



    .main1 ul li .section3 img {
        width: 40%;
        padding: 0;
        padding-bottom: 10px;
    }



    .main1 ul li .section3 h3 {

        /* border: 1px solid red; */
        width: 30px;
        font-size: 20px;
        padding-top: 35px;
    }



    .main1 ul li .section3 p {
        /* border: 1px solid red; */
        text-align: left;
        padding: 20px;
        padding-top: 60px;
        line-height: 1.2;
    }




    /* --------------------------------------------- */

    .main2 ul {
        list-style: none;
        /* border: 5px solid rgb(20, 58, 183); */
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }


    .main2 ul li .section4 {
        display: flex;
        margin-top: 20px;

    }




    .main2 ul li .section4 img {
        width: 40%;
        padding: 0;
        padding-bottom: 10px;
    }



    .main2 ul li .section4 h3 {
        /* border: 1px solid red; */
        width: 30px;
        font-size: 20px;
        padding-top: 45px;
    }



    .main2 ul li .section4 p {
        /* border: 1px solid red; */
        text-align: left;
        padding: 20px;
        padding-top: 80px;
        line-height: 1.2;
    }


    /* ------------------------------------------- */



    .main2 ul li .section5 {
        display: flex;
        margin-top: 20px;

    }




    .main2 ul li .section5 img {
        width: 40%;
        padding: 0;
        padding-bottom: 10px;
    }



    .main2 ul li .section5 h3 {
        /* border: 1px solid red; */
        width: 30px;
        font-size: 20px;
        padding-top: 45px;
    }



    .main2 ul li .section5 p {
        /* border: 1px solid red; */
        text-align: left;
        padding: 20px;
        padding-top: 75px;
        line-height: 1.2;
    }


    /* ------------------------------------- */



    .main2 ul li .section6 {
        display: flex;
        margin-top: 20px;

    }




    .main2 ul li .section6 img {
        width: 40%;
        padding: 0;
        padding-bottom: 10px;
    }



    .main2 ul li .section6 h3 {
        /* border: 1px solid red; */
        width: 30px;
        font-size: 20px;
        padding-top: 35px;
    }



    .main2 ul li .section6 p {
        /* border: 1px solid red; */
        text-align: left;
        padding: 20px;
        padding-top: 80px;
        line-height: 1.2;
    }



    /* ----------------------------------------- */

    .main3 ul {
        list-style: none;
        /* border: 5px solid rgb(20, 58, 183); */
        display: flex;
        flex-direction: column;
        margin: 0 auto;

    }


    .main3 ul li .section7 {
        display: flex;
        margin-top: 20px;
    }




    .main3 ul li .section7 img {
        width: 40%;
        padding: 0;
        padding-bottom: 10px;
    }



    .main3 ul li .section7 h3 {
        /* border: 1px solid red; */
        width: 30px;
        font-size: 20px;
        padding-top: 45px;
    }



    .main3 ul li .section7 p {
        /* border: 1px solid red; */
        text-align: left;
        padding: 20px;
        padding-top: 85px;
        line-height: 1.2;
    }




    /* ------------------------------------ */



    .main3 ul li .section8 {
        display: flex;
        margin-top: 20px;

    }




    .main3 ul li .section8 img {
        width: 40%;
        padding: 0;
        padding-bottom: 10px;
    }



    .main3 ul li .section8 h3 {
        /* border: 1px solid red; */
        width: 30px;
        font-size: 20px;
        padding-top: 40px;
    }



    .main3 ul li .section8 p {
        /* border: 1px solid red; */
        text-align: left;
        padding: 20px;
        padding-top: 80px;
        line-height: 1.2;
    }


    /* ------------------------------------ */

    .main3 ul li .section9 {
        display: flex;
        margin-top: 20px;

    }




    .main3 ul li .section9 img {
        width: 40%;
        padding: 0;
        padding-bottom: 10px;
    }



    .main3 ul li .section9 h3 {
        /* border: 1px solid red; */
        width: 30px;
        font-size: 20px;
        padding-top: 50px;
    }



    .main3 ul li .section9 p {
        /* border: 1px solid red; */
        text-align: left;
        padding: 20px;
        padding-top: 80px;
        line-height: 1.2;
    }























}