body{
    background-color: white;
    font-family: arial;
}

.top{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.main img{
    width: 100%;
}

.main2{
    /* border: 2px solid black;
    display: flex;
    /* justify-content:space-between; */
    /* margin: 50px; */
    /* padding: 10px; */
    /* max-width: 1080px; */
    /* margin: 0 auto; */
    /* width: 100%; */
    /* margin: 50px 400px; */ 

    /* border: 5px solid red; */
    display: flex;
    justify-content: space-evenly;
    /* margin: 50px; */
    padding: 10px;
    max-width: 1080px;
    margin: 0 auto;
    width: 100%;


}

.main2 div.text1  {
    /* font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px; */
    text-align: left;
    line-height: 1.5;
    /* border: 1px solid red; */
    padding-left: 50px; 
    padding-bottom: 30px; 
    margin: 0 auto;  

 }

 

 .main2 .text2 h3{
    font-weight: bold;
 }

.main2 div.text1 a {
background-color: #87CDEB;
color: white;
text-decoration: none;
text-align: center;
/* border: 1px solid red; */
display: block;
margin: 0 auto;
}

.main3{
    /* border: 5px solid red; */
    display: flex;
    justify-content: space-evenly;
    /* margin: 50px; */
    padding: 10px;
    /* max-width: 1080px; */
    margin: 0 auto;
    /* width: 100%;  */
}

.main2 .text2{
    /* border: 2px solid yellow; */
    /* padding-bottom: 5px; */
    line-height: 2;
    font-size: 1.5rem;
    
   
}

.main2 img{
    width: 60%;
    /* border: 5px solid rgb(0, 255, 64); */
    padding-top: 20px;
}