


body {
    background-color: white;
    font-family: arial;
}


/* 門市資訊 大標題 */
.top h1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}




/* 滑入 */
.main1:hover {
    background-color: #87CDEB;
    /* border-bottom: 3px solid red; */
}



/* 圖一 all */
.main1 {
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    /* margin: 50px; */
    padding: 30px;
    max-width: 1080px;
    margin: 0 auto;
    /* border: 1px solid red; */

}





.main1 .img1 img {
    width: 60%;
    /* border: 5px solid rgb(0, 255, 64); */
}



/*  圖一 內容 */
.main1 .text1 {
    /* border: 5px solid black; */
    padding: 50px;
    line-height: 1.6;

}



/* 圖一 門市名 */
.main1 .text1 h2 {
    font-weight: bold;
}




/* 滑入 */
.main2:hover {
    background-color: #87CDEB;
    /* border-bottom: 3px solid red; */
}


/* 圖二 all */
.main2 {
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    padding: 30px;
    max-width: 1080px;
    margin: 0 auto;

}

.main2 .img2 img {
    width: 60%;
    /* border: 5px solid rgb(0, 255, 64); */
}



/*  圖二 內容 */
.main2 .text2 {
    /* border: 5px solid black; */
    padding: 50px;
    line-height: 1.6;

}


/* 圖二 門市名 */
.main2 .text2 h2 {
    font-weight: bold;
}




/* 滑入 */
.main3:hover {
    background-color: #87CDEB;
    /* border-bottom: 3px solid red; */
}


/* 圖三 all */
.main3 {
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    /* margin: 50px; */
    padding: 30px;
    max-width: 1080px;
    margin: 0 auto;

}




.main3 .img3 img {
    width: 60%;
    /* border: 5px solid rgb(0, 255, 64); */
}






/*  圖三 內容 */
.main3 .text3 {
    /* border: 5px solid black; */
    padding: 50px;
    line-height: 1.6;

}


/* 圖三 門市名 */
.main3 .text3 h2 {
    font-weight: bold;
}



/* 滑入 */
.main4:hover {
    background-color: #87CDEB;
    /* border-bottom: 3px solid red; */
}


/* 圖四 all */
.main4 {
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    /* margin: 50px; */
    padding: 30px;
    max-width: 1080px;
    margin: 0 auto;
}



.main4 .img4 img {
    width: 60%;
    /* border: 5px solid rgb(0, 255, 64); */
}



/*  圖四 內容 */
.main4 .text4 {
    /* border: 5px solid black; */
    padding: 50px;
    line-height: 1.6;

}



/* 圖四 門市名 */
.main4 .text4 h2 {
    font-weight: bold;
}






.img-pic {
    width: 50%;
    /* padding-right: 150px; */
}


.img-pic img {
    width: 80%;
}



/* ------------------------------------------ */

/* google icon */

.google {
    display: none;
}




.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;

    /* display: none; */
}







/* ----------------------------------------------- */

/* 螢幕變成414px寬度後 */
@media screen and (max-width:414px) {
   
    .google {
        display: flex;
   }



   /* 導覽列 */
   .navtop1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        /* height: 50%; */
        position: fixed;
        top: 57px;
        right: 0;
        /* z-index: 1000; */
        /* padding-top: px; */
        /* margin-top: 55px; */
        /* padding-top: 55px; */
        display: block;
        z-index: 2;
        /* z-index: 2;
        background-color: #fff;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.4s ease-in; */

   }

   /* 導覽列 */
   /* .navtop1 li {
        opacity: 0;
   } */


   /* 左上角LOGO */
   nav img {
        width: 50px;
   }







/* ------------------------------------------------- */





    /* 門市資訊 大標題 */
    .top h1 {
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        margin-top: 0;
        padding-top: 100px;
        /* border: 1px solid red; */
        margin-left: 10px;
        
    }


    /* 圖一 all */
    .main1 {
        /* border: 1px solid red; */
        display: block;
        /* justify-content: center; */
        /* margin: 50px; */
        /* padding: 30px; */
        max-width: 1080px;
        margin: 0 auto;
        width: 80%;




    }



    /*  圖一 內容 */
    .main1 div.text1 {
        /* border: 1px solid black; */
        line-height: 1.6;
        padding-top: 30px;
        border-bottom: 1px solid #000;
        margin: 0 auto;
        width: 200px;

    }



    /* 圖一 門市名 */
    .main1 .text1 h2 {
        font-weight: bold;
        margin: 0 auto;
        /* padding-left: 100px; */
        font-size: 1.8rem;
        width: 200px;


    }



    .main1 .text1 p {
        /* padding-left: 100px; */
        width: 200px;
        margin: 0;
        font-size: 1.4rem;
    }






    /* 圖二 all */
    .main2 {
        /* border: 1px solid red; */
        display: block;
        /* justify-content: center; */
        /* padding: 30px; */
        max-width: 1080px;
        margin: 0 auto;
        /* margin-left: 60px; */
        /* padding-left: 30px; */
        width: 80%;

    }



    /*  圖二 內容 */
    .main2 .text2 {
        /* border: 5px solid black; */
        padding: 60px;
        line-height: 1.6;
        padding-top: 30px;
        border-bottom: 1px solid #000;
        margin: 0 auto;
        width: 200px;



    }


    /* 圖二 門市名 */
    .main2 .text2 h2 {
        font-weight: bold;
        margin: 0 auto;
        font-size: 1.8rem;
        width: 200px;
    }

    .main2 .text2 p {
        width: 200px;
        margin: 0;
        font-size: 1.4rem;

    }




    /* 圖三 all */
    .main3 {
        /* border: 5px solid red; */
        display: block;
        /* justify-content: center; */
        /* margin: 50px; */
        /* padding: 30px; */
        max-width: 1080px;
        margin: 0 auto;
        width: 80%;

    }



    /*  圖三 內容 */
    .main3 .text3 {
        /* border: 5px solid black; */
        line-height: 1.6;
        padding-top: 30px;
        border-bottom: 1px solid #000;
        margin: 0 auto;
        width: 200px;

    }


    /* 圖三 門市名 */
    .main3 .text3 h2 {
        font-weight: bold;
        margin: 0 auto;
        font-size: 1.8rem;
        width: 200px;
    }



    .main3 .text3 p {
        width: 200px;
        margin: 0;
        font-size: 1.4rem; 

    }




    /* 圖四 all */
    .main4 {
        /* border: 5px solid red; */
        display: block;
        /* justify-content: center; */
        /* margin: 50px; */
        /* padding: 30px; */
        max-width: 1080px;
        margin: 0 auto;
        width: 80%;
    }



    /*  圖四 內容 */
    .main4 .text4 {
        /* border: 5px solid black; */
        line-height: 1.6;
        padding-top: 30px;
        margin: 0 auto;
        width: 200px;

    }



    /* 圖四 門市名 */
    .main4 .text4 h2 {
        font-weight: bold;
        margin: 0 auto;
        font-size: 1.8rem;
        width: 200px;


    }


    .main4 .text4 p {
        width: 200px;
        margin: 0;
        font-size: 1.4rem;  

    }






    div.img-pic img {
        margin: 0 auto;
        padding-left: 10px;
        width: 200%;
        padding-right: 0;
    }


    img {
        /* width: 100%; */
    }


    footer a {
        display: none;
   }


   footer p {
        margin-top:20px;
        ;
   }


}