:root {
    font-size: 10px;
}

body {
    font-family: arial;
    font-size: 2rem;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

nav img {
    width: 100px;
}

nav ul {
    display: flex;
    /* 側軸 */
    align-items: center;
    /* 主軸 */
    justify-content: space-between;
    width: 600px;
    
    
}

nav li:hover {
    background-color: #7EBBF2;
    /* border-bottom: 3px solid red; */
    height: 3rem;
}



nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}







footer {
    border-top: 1.5px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    
}

footer a {
    margin: 0 20px;
    /* border: 1px solid blue; */
    text-decoration: none;
    font-weight: bold;
    color: black;

}

footer a:hover{
      background-color: #7EBBF2;
}


footer img {
    display: inline-block;
    width: 60px;
    margin-top: 20px;
    /* border: 1px solid red; */


}

footer p {
    text-align: center;
    margin-top: 60px;
    /* border: 1px solid black; */

}